{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% csrf_token %}
{% block title %} {{article.article_title}} {% endblock %}

{% block content %}



<link rel="stylesheet" href="{{static}}articles/css/detail.css">








<div class="float-sm-left" style="width: 70%;"><h2 style="padding-left: 15px;">{{article.article_title}}</h2></div>



<div id="lk" style="float: left; margin-top: 0px; margin-left: 10%; font-size:25px;"><em>{{article.pub_date}}</em>
{% if article.was_published_recently %}
<img src="https://image.flaticon.com/icons/png/512/57/57458.png" alt="NEW" width="50" style="margin-top: -3px;">
{% endif %}
    <div id="author_name" style="display:block; margin-right: 10px; font-size:19px;">
By {{article.author_name}}
</div>
</div>



<div id="article_image">
{% if article.article_image %}
<img src="{{article.article_image.url}}" alt="" style="max-width: 1100px; max-height: 700px;">
{% endif %}
</div>

<div style="padding-left: 20px; padding-top: 15px; width: 70%;">{{article.article_text}}</div>

{% if comments %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-12">

            <!-- FORM -->
            <form id="cmForm">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>



        
            <div id="commentsBox">
{% for c in comments %}

            <div class="d-flex flex-column comment-section" style="margin-top:10px;">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{static}}articles/img/avatar.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{c.comment_author}}</span><span class="date text-black-50">Shared publicly - {{c.cDate}}</span></div>   <!-- Jan 2020 -->
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{c.comment_text}}</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">

                    </div>
                </div>
               
            </div>

{% endfor %}
</div>
{% endif %}
<div class="bg-light p-2">
    <!-- <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div> -->


   







    
</div>
</div>
</div>
</div>


<script>
const url = "{% url 'detail' article.id %}"
const avatar_url = `{% static 'articles/img/avatar.jpg' %}`
</script>

<script src="{{static}}articles/js/detail.js"></script>
{% endblock %}

