{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block title %} {{article.article_title}} {% endblock %}

{% block content %}












<style>
body {
    background: #eee
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}
</style>








<div class="float-sm-left" style="width: 70%;"><h2 style="padding-left: 15px;">{{article.article_title}}</h2></div>



<div style="float: left; margin-top: 6px; font-size:25px;"><em>{{article.pub_date}}</em>
{% if article.was_published_recently %}
<img src="https://image.flaticon.com/icons/png/512/57/57458.png" alt="NEW" width="50" style="margin-top: -3px;">
{% endif %}
</div>

<div id="author_name" style="margin-right:30px; position:absolute; left: 1110px; top: 53px; font-size: 17px;">
By {{article.author_name}}
</div>

<div id="article_image">
{% if article.article_image %}
<img src="{{article.article_image.url}}" alt="" style="max-width: 1100px;">
{% endif %}
</div>

<div style="padding-left: 20px; padding-top: 15px; width: 70%;">{{article.article_text}}</div>

{% if comments %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-12">

            <!-- FORM -->
            <form id="cmForm">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>



        
            <div id="commentsBox">
{% for c in comments %}

            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{c.comment_author}}</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{c.comment_text}}</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">

                    </div>
                </div>
               
            </div>

{% endfor %}
</div>
{% endif %}
<div class="bg-light p-2">
    <!-- <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div> -->


   







    
</div>
</div>
</div>
</div>
<script>
    console.log("Hello world");
    const form = document.getElementById("cmForm");
    console.log(form);

    const comment_author = document.getElementById("id_comment_author");
    const comment_text = document.getElementById("id_comment_text");

    const csrf = document.getElementsByName("csrfmiddlewaretoken");
    token = csrf[0].value
    console.log(csrf);
    console.log(token)

    fr=form.addEventListener("submit", e=>{
        e.preventDefault()
        const fd = new FormData()
        fd.append('csrfmiddlewaretoken', token)
        fd.append('comment_author', comment_author.value)
        fd.append('comment_text', comment_text.value)

        $.ajax({
            type: 'POST',
            url: "{% url 'detail' article.id %}",
            enctype: 'multipart/form-data',
            data: fd,
            processData: false,
            success: function(response){
                console.log(response)
                $(` <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">${response.comment_author}</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">${response.comment_text}</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">

                    </div>
                </div>
               
            </div>`).insertBefore("#commentsBox")
            $("input").val("")
            $("textarea").val("")
                
            },
            cache: false,
            contentType: false, 
        })
    })

</script>
{% endblock %}

